%h1.header_stillage_stillage_warehouse_stillage_pallet_trolleys
  = t('page.trolleys.index.header')

.text_in_trolleys
  =raw t('page.trolleys.index.about')
  / Колеса можно заказать у наших партнеров
  /%a{:href => "http://www.sklad.ws/%D0%BA%D0%BE%D0%BB%D0%B5%D1%81%D0%B0-%D0%B4%D0%BB%D1%8F-%D1%82%D0%B5%D0%BB%D0%B5%D0%B6%D0%B5%D0%BA", :target => "_blank"} Складские технологии Харьков
.text_in_trolleys_sec
  =raw t('page.trolleys.index.about_sec')
%div{:style => " width:100%; height:50px; clear:both;"}

.tp_01
  .col-md-6.table_position_trolleys
    = form_tag(trolley_show_path, method: :get, id: 'id_el_1', name: 'contact_form', onsubmit: "return validate_form_trolleys ('id_el_1')") do
      %input.hiden_input_trolleys{:name => "vid",:size => "10", :value => "TP-01", :type => "text"}
      .container-fluid
        .row
          .col-md-8.header_name_trolleys
            = "#{t('page.trolleys.index.model.model')} TР-01"
        .row
          .col-md-12
            %table{:align => "center", :cellspacing => "5", :cellpadding => "5", :border => "1", :width => "100%"}
              %tr
                %td{:align => "center"}
                  =image_tag("trolleys/telegka_TP_01.png", :width => 100, :height => 100)
                %td
                  = t('page.trolleys.index.used_materials')
                  %ul
                    %li
                      = t('page.trolleys.index.pipe')
                    %li
                      = t('page.trolleys.index.corner')
                    %li
                      = t('page.trolleys.index.laminar_dsp')
                    %li
                      = t('page.trolleys.index.powder_paint')
      -if @constant.on_off_calc_TP01==false
        .text_size{:onclick => "showHide('hidenelement1a','chg_img_10')" }
          =image_tag("plus.png", :id => "chg_img_10", :alt => "mater",  :width => "30", :height => "30")
          = "#{t('page.trolleys.index.on_line_model')} ТР-01"
        .hidenelement1a
          = render 'on_line_section'
          .row
            .col-md-3
              %input{:name => "send", :type => "submit", :value => t('page.trolleys.index.calculate'), :class => "btn btn-success"}
        -#-else
        -#  .on_line_calculation_off
        -#    = t('page.all.on_line_off')
      %p.distance_from_trolleys


.tp_02
  .col-md-6.table_position_trolleys
    = form_tag(trolley_show_path, method: :get, id: 'id_el_2', name: 'contact_form', onsubmit: "return validate_form_trolleys ('id_el_2')") do
      %input.hiden_input_trolleys{:name => "vid",:size => "10", :value => "TP-02", :type => "text",:display => "false"}
      .container-fluid
        .row
          .col-md-8.header_name_trolleys
            = "#{t('page.trolleys.index.model.model')} TР-02"
        .row
          .col-md-12
            %table{:align => "center", :cellspacing => "5", :cellpadding => "5", :border => "1", :width => "100%"}
              %tr
                %td{:align => "center"}
                  =image_tag("trolleys/telegka_TP_02.png", :width => 100, :height => 100)
                %td
                  = t('page.trolleys.index.used_materials')
                  %ul
                    %li
                    = t('page.trolleys.index.pipe')
                    %li
                      = t('page.trolleys.index.corner')
                    %li
                      = t('page.trolleys.index.laminar_dsp')
                    %li
                      = t('page.trolleys.index.powder_paint')
      -if @constant.on_off_calc_TP02==false
        .text_size{:onclick => "showHide('hidenelement2','chg_img_11')" }
          =image_tag("plus.png", :id => "chg_img_11", :alt => "mater",  :width => "30", :height => "30")
          = "#{t('page.trolleys.index.on_line_model')} ТР-02"
        .hidenelement2

          = render 'on_line_section'
          .row
            .col-md-3
              %input{:name => "send", :type => "submit", :value => t('page.trolleys.index.calculate'), :class => "btn btn-success"}
        -#-else
        -#  .on_line_calculation_off
        -#    = t('page.all.on_line_off')
      %p.distance_from_trolleys
  %div{:style => " width:5%; height:1px; clear:both;"}







.tp_03
  .col-md-6.table_position_trolleys
    = form_tag(trolley_show_path, method: :get, id: 'id_el_3', name: 'contact_form', onsubmit: "return validate_form_trolleys ('id_el_3')") do
      %input.hiden_input_trolleys{:name => "vid",:size => "10", :value => "TP-03", :type => "text",:display => "false"}
      .container-fluid
        .row
          .col-md-8.header_name_trolleys
            = "#{t('page.trolleys.index.model.model')} TР-03"
        .row
          .col-md-12
            %table{:align => "center", :cellspacing => "5", :cellpadding => "5", :border => "1", :width => "100%"}
              %tr
                %td{:align => "center"}
                  =image_tag("trolleys/telegka_TP_03.png", :width => 100, :height => 100)
                %td
                  = t('page.trolleys.index.used_materials')
                  %ul
                    %li
                      = t('page.trolleys.index.pipe')
                    %li
                      = t('page.trolleys.index.corner')
                    %li
                      = t('page.trolleys.index.laminar_dsp')
                    %li
                      = t('page.trolleys.index.powder_paint')
      -if @constant.on_off_calc_TP03==false
        .text_size{:onclick => "showHide('hidenelement3','chg_img_12')" }
          =image_tag("plus.png", :id => "chg_img_12", :alt => "mater",  :width => "30", :height => "30")
          = "#{t('page.trolleys.index.on_line_model')} ТР-03"
        .hidenelement3
          = render 'on_line_section'
          .row
            .col-md-3
              %input{:name => "send", :type => "submit", :value => t('page.trolleys.index.calculate'), :class => "btn btn-success"}
        -#-else
        -#  .on_line_calculation_off
        -#    = t('page.all.on_line_off')
      %p.distance_from_trolleys








.tp_04
  .col-md-6.table_position_trolleys
    = form_tag(trolley_show_path, method: :get, id: 'id_el_4', name: 'contact_form', onsubmit: "return validate_form_trolleys ('id_el_4')") do
      %input.hiden_input_trolleys{:name => "vid",:size => "10", :value => "TP-04", :type => "text",:display => "false"}
      .container-fluid
        .row
          .col-md-8.header_name_trolleys
            = "#{t('page.trolleys.index.model.model')} TР-04"
        .row
          .col-md-12
            %table{:cellspacing => "5", :cellpadding => "5", :border => "1", :width => "100%"}
              %tr
                %td{:align => "center"}
                  =image_tag("trolleys/telegka_TP_04.png", :width => 100, :height => 100)
                %td
                  = t('page.trolleys.index.used_materials')
                  %ul
                    %li
                      = t('page.trolleys.index.pipe')
                    %li
                      = t('page.trolleys.index.corner')
                    %li
                      = t('page.trolleys.index.laminar_dsp')
                    %li
                    = t('page.trolleys.index.powder_paint')
      -if @constant.on_off_calc_TP04==false
        .text_size{:onclick => "showHide('hidenelement4','chg_img_13')" }
          =image_tag("plus.png", :id => "chg_img_13", :alt => "mater",  :width => "30", :height => "30")
          = "#{t('page.trolleys.index.on_line_model')} ТР-04"
        .hidenelement4
          = render 'on_line_section'
          .row
            .col-md-3
              %input{:name => "send", :type => "submit", :value => t('page.trolleys.index.calculate'), :class => "btn btn-success"}
        -#-else
        -#  .on_line_calculation_off
        -#    = t('page.all.on_line_off')
      %p.distance_from_trolleys
  %div{:style => " width:5%; height:1px; clear:both;"}




.tp_05
  .col-md-6.table_position_trolleys
    = form_tag(trolley_show_path, method: :get, id: 'id_el_5', name: 'contact_form', onsubmit: "return validate_form_trolleys ('id_el_5')") do
      %input.hiden_input_trolleys{:name => "vid",:size => "10", :value => "TP-05", :type => "text",:display => "false"}
      .container-fluid
        .row
          .col-md-8.header_name_trolleys
            = "#{t('page.trolleys.index.model.model')} TР-05"
        .row
          .col-md-12
            %table{:cellspacing => "5", :cellpadding => "5", :border => "1", :width => "100%"}
              %tr
                %td{:align => "center"}
                  =image_tag("trolleys/telegka_TP_05.png", :width => 100, :height => 100)
                %td
                  = t('page.trolleys.index.used_materials')
                  %ul
                    %li
                      = t('page.trolleys.index.pipe')
                    %li
                      = t('page.trolleys.index.corner')
                    %li
                      = t('page.trolleys.index.laminar_dsp')
                    %li
                      = t('page.trolleys.index.powder_paint')
      -if @constant.on_off_calc_TP05==false
        .text_size{:onclick => "showHide('hidenelement5','chg_img_14')" }
          =image_tag("plus.png", :id => "chg_img_14", :alt => "mater",  :width => "30", :height => "30")
          = "#{t('page.trolleys.index.on_line_model')} ТР-05"
        .hidenelement5
          = render 'on_line_section'
          .row
            .col-md-3
              %input{:name => "send", :type => "submit", :value => t('page.trolleys.index.calculate'), :class => "btn btn-success"}
        -#-else
        -#  .on_line_calculation_off
        -#    = t('page.all.on_line_off')
      %p.distance_from_trolleys




.tp_06
  .col-md-6.table_position_trolleys
    = form_tag(trolley_show_path, method: :get, id: 'id_el_6', name: 'contact_form', onsubmit: "return validate_form_trolleys ('id_el_6')") do
      %input.hiden_input_trolleys{:name => "vid",:size => "10", :value => "TP-06", :type => "text",:display => "false"}
      .container-fluid
        .row
          .col-md-8.header_name_trolleys
            = "#{t('page.trolleys.index.model.model')} TР-06"
        .row
          .col-md-12
            %table{:cellspacing => "5", :cellpadding => "5", :border => "1", :width => "100%"}
              %tr
                %td{:align => "center"}
                  =image_tag("trolleys/telegka_TP_06.png", :width => 100, :height => 100)
                %td
                  = t('page.trolleys.index.used_materials')
                  %ul
                    %li
                      = t('page.trolleys.index.pipe')
                    %li
                      = t('page.trolleys.index.corner')
                    %li
                      = t('page.trolleys.index.list')
                    %li
                      = t('page.trolleys.index.powder_paint')
      -if @constant.on_off_calc_TP06==false
        .text_size{:onclick => "showHide('hidenelement6','chg_img_15')" }
          =image_tag("plus.png", :id => "chg_img_15", :alt => "mater",  :width => "30", :height => "30")
          -#%img{:id => "chg_img_15", :alt => "mater", :src => "/assets/plus.png", :width => "30", :height => "30"}
          = "#{t('page.trolleys.index.on_line_model')} ТР-06"
        .hidenelement6
          = render 'on_line_section'
          .row
            .col-md-3
              %input{:name => "send", :type => "submit", :value => t('page.trolleys.index.calculate'), :class => "btn btn-success"}
        -#-else
        -#  .on_line_calculation_off
        -#    = t('page.all.on_line_off')
      %p.distance_from_trolleys




.tp_07
  .col-md-6.table_position_trolleys
    = form_tag(trolley_show_path, method: :get, id: 'id_el_7', name: 'contact_form', onsubmit: "return validate_form_trolleys ('id_el_7')") do
      %input.hiden_input_trolleys{:name => "vid",:size => "10", :value => "TP-07", :type => "text",:display => "false"}
      .container-fluid
        .row
          .col-md-8.header_name_trolleys
            = "#{t('page.trolleys.index.model.model')} TР-07"
        .row
          .col-md-12
            %table{:cellspacing => "5", :cellpadding => "5", :border => "1", :width => "100%"}
              %tr
                %td{:align => "center"}
                  =image_tag("trolleys/telegka_TP_07.png", :width => 100, :height => 100)
                %td
                  = t('page.trolleys.index.used_materials')
                  %ul
                    %li
                      = t('page.trolleys.index.pipe')
                    %li
                      = t('page.trolleys.index.corner')
                    %li
                      = t('page.trolleys.index.list')
                    %li
                      = t('page.trolleys.index.powder_paint')
      -if @constant.on_off_calc_TP07==false
        .text_size{:onclick => "showHide('hidenelement7','chg_img_16')" }
          =image_tag("plus.png", :id => "chg_img_16", :alt => "mater",  :width => "30", :height => "30")
          = "#{t('page.trolleys.index.on_line_model')} ТР-07"
        .hidenelement7
          = render 'on_line_section'
          .row
            .col-md-3
              %input{:name => "send", :type => "submit", :value => t('page.trolleys.index.calculate'), :class => "btn btn-success"}
        -#-else
        -#  .on_line_calculation_off
        -#    = t('page.all.on_line_off')
      %p.distance_from_trolleys
  %div{:style => " width:100%; height:1px; clear:both;"}





.ks_01
  .col-md-6.table_position_trolleys
    = form_tag(trolley_show_path, method: :get, id: 'id_el_8', name: 'contact_form', onsubmit: "return validate_form_trolleys ('id_el_8')") do
      %input.hiden_input_trolleys{:name => "vid",:size => "10", :value => "KS-01", :type => "text",:display => "false"}
      .container-fluid
        .row
          .col-md-8.header_name_trolleys
            = "#{t('page.trolleys.index.model.model')} KS-01"
        .row
          .col-md-12
            %table{:cellspacing => "5", :cellpadding => "5", :border => "1", :width => "100%"}
              %tr
                %td{:align => "center"}
                  =image_tag("trolleys/telegka_KS_01.png", :width => 100, :height => 100)
                %td
                  = t('page.trolleys.index.used_materials')
                  %ul
                    %li
                      = t('page.trolleys.index.pipe')
                    %li
                      = t('page.trolleys.index.corner')
                    %li
                      = t('page.trolleys.index.list_or_dsp')
                    %li
                      = t('page.trolleys.index.setka')
                    %li
                      = t('page.trolleys.index.powder_paint')
      -if @constant.on_off_calc_KS01==false
        .text_size{:onclick => "showHide('hidenelement8','chg_img_17')" }
          =image_tag("plus.png", :id => "chg_img_17", :alt => "mater",  :width => "30", :height => "30")
          = "#{t('page.trolleys.index.on_line_model')} KS-01"
        .hidenelement8
          = render 'on_line_section'
          .row.pt_03
            .col-md-12
              %input{:id => "hiden_radio_1", :name => "group1" , :type => "radio", :value => "met", :checked => "checked"}
                Лист 2мм
              %p
                %input{:id => "hiden_radio_2", :name => "group1" , :type => "radio", :value => "dsp"}
                  Ламинированное ДСП
          .row
            .col-md-12
              %input{:name => "send", :type => "submit", :value => "Рассчитать", :class => "btn btn-success"}
        -#-else
        -#  .on_line_calculation_off
        -#    = t('page.all.on_line_off')
      %p.distance_from_trolleys




.ks_02
  .col-md-6.table_position_trolleys
    = form_tag(trolley_show_path, method: :get, id: 'id_el_9', name: 'contact_form', onsubmit: "return validate_form_trolleys ('id_el_9')") do
      %input.hiden_input_trolleys{:name => "vid",:size => "10", :value => "KS-02", :type => "text",:display => "false"}
      .container-fluid
        .row
          .col-md-8.header_name_trolleys
            = "#{t('page.trolleys.index.model.model')} KS-02"
        .row
          .col-md-12
            %table{:cellspacing => "5", :cellpadding => "5", :border => "1", :width => "100%"}
              %tr
                %td{:align => "center"}
                  =image_tag("trolleys/telegka_KS_02.png", :width => 100, :height => 100)
                %td
                  = t('page.trolleys.index.used_materials')
                  %ul
                    %li
                      = t('page.trolleys.index.pipe')
                    %li
                      = t('page.trolleys.index.corner')
                    %li
                      = t('page.trolleys.index.list_or_dsp')
                    %li
                      = t('page.trolleys.index.setka')
                    %li
                      = t('page.trolleys.index.powder_paint')
      -if @constant.on_off_calc_KS02==false
        .text_size{:onclick => "showHide('hidenelement9','chg_img_18')" }
          =image_tag("plus.png", :id => "chg_img_18", :alt => "mater",  :width => "30", :height => "30")
          = "#{t('page.trolleys.index.on_line_model')} KS-02"
        .hidenelement9
          = render 'on_line_section'
          .row.pt_03
            .col-md-12
              %input{:id => "hiden_radio_1", :name => "group1" , :type => "radio", :value => "met", :checked => "checked"}
                Лист 2мм
              %p
                %input{:id => "hiden_radio_2", :name => "group1" , :type => "radio", :value => "dsp"}
                  Ламинированное ДСП
          .row
            .col-md-12
              %input{:name => "send", :type => "submit", :value => "Рассчитать", :class => "btn btn-success"}
        -#-else
        -#  .on_line_calculation_off
        -#    = t('page.all.on_line_off')
      %p.distance_from_trolleys
  %div{:style => " width:5%; height:1px; clear:both;"}

.ks_03
  .col-md-6.table_position_trolleys
    = form_tag(trolley_show_path, method: :get, id: 'id_el_10', name: 'contact_form', onsubmit: "return validate_form_trolleys ('id_el_10')") do
      %input.hiden_input_trolleys{:name => "vid",:size => "10", :value => "KS-03", :type => "text",:display => "false"}
      .container-fluid
        .row
          .col-md-8.header_name_trolleys
            = "#{t('page.trolleys.index.model.model')} KS-03"
        .row
          .col-md-12
            %table{:cellspacing => "5", :cellpadding => "5", :border => "1", :width => "100%"}
              %tr
                %td{:align => "center"}
                  =image_tag("trolleys/telegka_KS_03.png", :width => 100, :height => 100)
                %td
                  = t('page.trolleys.index.used_materials')
                  %ul
                    %li
                      = t('page.trolleys.index.pipe')
                    %li
                      = t('page.trolleys.index.corner')
                    %li
                      = t('page.trolleys.index.list_or_dsp')
                    %li
                      = t('page.trolleys.index.setka')
                    %li
                      = t('page.trolleys.index.powder_paint')
      -if @constant.on_off_calc_KS03==false
        .text_size{:onclick => "showHide('hidenelement10a','chg_img_19')" }
          =image_tag("plus.png", :id => "chg_img_19", :alt => "mater",  :width => "30", :height => "30")
          = "#{t('page.trolleys.index.on_line_model')} KS-03"
        .hidenelement10a
          = render 'on_line_section'
          .row.pt_03
            .col-md-12
              %input{:id => "hiden_radio_1", :name => "group1" , :type => "radio", :value => "met", :checked => "checked"}
                Лист 2мм
              %p
                %input{:id => "hiden_radio_2", :name => "group1" , :type => "radio", :value => "dsp"}
                  Ламинированное ДСП
          .row
            .col-md-12
              %input{:name => "send", :type => "submit", :value => "Рассчитать", :class => "btn btn-success"}
        -#-else
        -#  .on_line_calculation_off
        -#    = t('page.all.on_line_off')
      %p.distance_from_trolleys



.ks_04
  .col-md-6.table_position_trolleys
    = form_tag(trolley_show_path, method: :get, id: 'id_el_11', name: 'contact_form', onsubmit: "return validate_form_trolleys ('id_el_11')") do
      %input.hiden_input_trolleys{:name => "vid",:size => "10", :value => "KS-04", :type => "text",:display => "false"}
      .container-fluid
        .row
          .col-md-8.header_name_trolleys
            = "#{t('page.trolleys.index.model.model')} KS-04"
        .row
          .col-md-12
            %table{:cellspacing => "5", :cellpadding => "5", :border => "1", :width => "100%"}
              %tr
                %td{:align => "center"}
                  =image_tag("trolleys/telegka_KS_04.png", :width => 100, :height => 100)
                %td
                  = t('page.trolleys.index.used_materials')
                  %ul
                    %li
                      = t('page.trolleys.index.pipe')
                    %li
                      = t('page.trolleys.index.corner')
                    %li
                      = t('page.trolleys.index.list_or_dsp')
                    %li
                      = t('page.trolleys.index.setka')
                    %li
                      = t('page.trolleys.index.powder_paint')
      -if @constant.on_off_calc_KS04==false
        .text_size{:onclick => "showHide('hidenelement11a','chg_img_20')" }
          =image_tag("plus.png", :id => "chg_img_20", :alt => "mater",  :width => "30", :height => "30")
          = "#{t('page.trolleys.index.on_line_model')} KS-04"
        .hidenelement11a
          = render 'on_line_section'
          .row.pt_03
            .col-md-12
              %input{:id => "hiden_radio_1", :name => "group1" , :type => "radio", :value => "met", :checked => "checked"}
                Лист 2мм
              %p
                %input{:id => "hiden_radio_2", :name => "group1" , :type => "radio", :value => "dsp"}
                  Ламинированное ДСП
          .row
            .col-md-12
              %input{:name => "send", :type => "submit", :value => "Рассчитать", :class => "btn btn-success"}
        -#-else
        -#  .on_line_calculation_off
        -#    = t('page.all.on_line_off')
      %p.distance_from_trolleys
  %div{:style => " width:5%; height:1px; clear:both;"}





.pt_01
  .col-md-6.table_position_trolleys
    = form_tag(trolley_show_path, method: :get, id: 'id_el_12', name: 'contact_form', onsubmit: "return validate_form_trolleys ('id_el_12')") do
      %input.hiden_input_trolleys{:name => "vid",:size => "10", :value => "PT-01", :type => "text",:display => "false"}
      .container-fluid
        .row
          .col-md-8.header_name_trolleys
            = "#{t('page.trolleys.index.model.model')} PT-01"
        .row
          .col-md-12
            %table{:cellspacing => "5", :cellpadding => "5", :border => "1", :width => "100%"}
              %tr
                %td{:align => "center"}
                  =image_tag("trolleys/telegka_PT_01.png", :width => 100, :height => 100)
                %td
                  = t('page.trolleys.index.used_materials')
                  %ul
                    %li
                      = t('page.trolleys.index.pipe')
                    %li
                      = t('page.trolleys.index.list')
                    %li
                      = t('page.trolleys.index.setka')
                    %li
                      = t('page.trolleys.index.powder_paint')
      -if @constant.on_off_calc_PT01==false
        .text_size{:onclick => "showHide('hidenelement12a','chg_img_21')" }
          =image_tag("plus.png", :id => "chg_img_21", :alt => "mater",  :width => "30", :height => "30")
          = "#{t('page.trolleys.index.on_line_model')} PT-01"
        .hidenelement12a
          = render 'on_line_section'
          .row
            .col-md-3
              %input{:name => "send", :type => "submit", :value => t('page.trolleys.index.calculate'), :class => "btn btn-success"}
        -#-else
        -#  .on_line_calculation_off
        -#    = t('page.all.on_line_off')
        -#    On-line расчет временно недоступен.
      %p.distance_from_trolleys



.pt_02
  .col-md-6.table_position_trolleys
    = form_tag(trolley_show_path, method: :get, id: 'id_el_13', name: 'contact_form', onsubmit: "return validate_form_trolleys ('id_el_13')") do
      %input.hiden_input_trolleys{:name => "vid",:size => "10", :value => "PT-02", :type => "text",:display => "false"}
      .container-fluid
        .row
          .col-md-8.header_name_trolleys
            = "#{t('page.trolleys.index.model.model')} PT-02"
        .row
          .col-md-12
            %table{:cellspacing => "5", :cellpadding => "5", :border => "1", :width => "100%"}
              %tr
                %td{:align => "center"}
                  =image_tag("trolleys/telegka_PT_02.png", :width => 100, :height => 100)
                %td
                  = t('page.trolleys.index.used_materials')
                  %ul
                    %li
                      = t('page.trolleys.index.pipe')
                    %li
                      = t('page.trolleys.index.list')
                    %li
                      = t('page.trolleys.index.powder_paint')
      -if @constant.on_off_calc_PT02==false
        .text_size{:onclick => "showHide('hidenelement13a','chg_img_22')" }
          =image_tag("plus.png", :id => "chg_img_22", :alt => "mater",  :width => "30", :height => "30")
          = "#{t('page.trolleys.index.on_line_model')} PT-02"
        .hidenelement13a
          = render 'on_line_section'
          .row
            .col-md-3
              %input{:name => "send", :type => "submit", :value => t('page.trolleys.index.calculate'), :class => "btn btn-success"}
        -#-else
        -#  .on_line_calculation_off
        -#    = t('page.all.on_line_off')
      %p.distance_from_trolleys
  %div{:style => " width:100%; height:1px; clear:both;"}


.pt_03
  .col-md-6.table_position_trolleys
    = form_tag(trolley_show_path, method: :get, id: 'id_el_14', name: 'contact_form', onsubmit: "return validate_form_trolleys ('id_el_14')") do
      %input.hiden_input_trolleys{:name => "vid",:size => "10", :value => "PT-03", :type => "text",:display => "false"}
      .container-fluid
        .row
          .col-md-8.header_name_trolleys
            = "#{t('page.trolleys.index.model.model')} PT-03"
        .row
          .col-md-12
            %table{:cellspacing => "5", :cellpadding => "5", :border => "1", :width => "100%"}
              %tr
                %td{:align => "center"}
                  =image_tag("trolleys/telegka_PT_03.png", :width => 100, :height => 100)
                %td
                  = t('page.trolleys.index.used_materials')
                  %ul
                    %li
                      = t('page.trolleys.index.pipe')
                    %li
                      = t('page.trolleys.index.corner')
                    %li
                      = t('page.trolleys.index.laminar_dsp')
                    %li
                      = t('page.trolleys.index.powder_paint')
      -if @constant.on_off_calc_PT03==false
        .text_size{:onclick => "showHide('hidenelement14a','chg_img_23')" }
          =image_tag("plus.png", :id => "chg_img_23", :alt => "mater",  :width => "30", :height => "30")
          = "#{t('page.trolleys.index.on_line_model')} PT-03"
        .hidenelement14a
          = render 'on_line_section'
          .row
            .col-md-3
              %input{:name => "send", :type => "submit", :value => t('page.trolleys.index.calculate'), :class => "btn btn-success"}
        -#-else
        -#  .on_line_calculation_off
        -#    = t('page.all.on_line_off')
      %p.distance_from_trolleys




.pt_04
  .col-md-6.table_position_trolleys
    = form_tag(trolley_show_path, method: :get, id: 'id_el_15', name: 'contact_form', onsubmit: "return validate_form_trolleys ('id_el_15')") do
      %input.hiden_input_trolleys{:name => "vid",:size => "10", :value => "PT-04", :type => "text",:display => "false"}
      .container-fluid
        .row
          .col-md-8.header_name_trolleys
            = "#{t('page.trolleys.index.model.model')} PT-04"
        .row
          .col-md-12
            %table{:cellspacing => "5", :cellpadding => "5", :border => "1", :width => "100%"}
              %tr
                %td{:align => "center"}
                  =image_tag("trolleys/telegka_PT_04.png", :width => 100, :height => 100)
                %td
                  = t('page.trolleys.index.used_materials')
                  %ul
                    %li
                      = t('page.trolleys.index.pipe')
                    %li
                      = t('page.trolleys.index.corner')
                    %li
                      = t('page.trolleys.index.setka')
                    %li
                      = t('page.trolleys.index.laminar_dsp')
                    %li
                      = t('page.trolleys.index.powder_paint')
      -if @constant.on_off_calc_PT04==false
        .text_size{:onclick => "showHide('hidenelement15a','chg_img_24')" }
          =image_tag("plus.png", :id => "chg_img_24", :alt => "mater",  :width => "30", :height => "30")
          = "#{t('page.trolleys.index.on_line_model')} PT-04"
        .hidenelement15a
          = render 'on_line_section'
          .row
            .col-md-3
              %input{:name => "send", :type => "submit", :value => t('page.trolleys.index.calculate'), :class => "btn btn-success"}
        -#-else
        -#  .on_line_calculation_off
        -#    = t('page.all.on_line_off')
      %p.distance_from_trolleys
  %div{:style => " width:100%; height:1px; clear:both;"}

