%h1
  = t('page.trolleys.show.header')
%p
.container-fluid
  .row
    .col-md-10
      %p.style_p
        ="#{t('page.trolleys.show.max_load')}: #{@shelf_load_var} #{t('page.all.kg')}"
      %p.style_p
        ="#{t('page.trolleys.show.weight_without')}: #{@wei_trol} #{t('page.all.kg')}"
      %p
  .row
    .col-md-10.style_p
      %table{:cellspacing => "5", :cellpadding => "5", :border => "1", :width => "100%"}
        %tr
          %th.header_table
            = t('page.trolleys.show.type')
          %th.header_table
            = t('page.trolleys.show.parameters')
          %th.header_table
            = t('page.all.price')
            %tr
              %td
                ="#{@vid}"
              %td
                ="#{@lengthT_var}x#{@width_var}" +" ручка " + "#{@hight_ruch}"
              %td
                ="#{@price_trol}"