%h1.header_stillage_stillage_warehouse_stillage_pallet_trolleys
  =t('page.stillage.index.header')
.container-fluid
  .row
    .col-md-6
      %p
  .row
    .col-md-12.all_tytle_page_img_stillage_stillage_warehouse_stillage_pallet
      =image_tag("design/all_parts/stillage_arxiv/stillage_arhivniy_bitovoy_tytle_page.gif", :class => "tytle_page_img_stillage_stillage_warehouse_stillage_pallet")
%p
-if !@constant.on_off_calc_stillage
  = form_tag(calculate_actual_price_stillage_path, method: :get, id: 'contact_form', name: 'contact_form', remote: true, onsubmit: "return validate_form_stilage ( );") do
    .container-fluid
      .text_size{:onclick => "showHide('hiden_element_1','chg_img_1')" }
        %img{:id => "chg_img_1", :alt => "mater", :src => "/assets/plus.png", :name => "img_1", :width => "30", :height => "30"}
        =t('page.all.on_line')
      .hiden_element_1
        .row
          .col-md-2
            =label_tag(:q, t('page.all.height'))
            %p
              (500-3500 #{t('page.all.mm')})
            %p{:title => t('page.all.height_title')}
              %input{:maxlength => "4", :name => "hight", :pattern => "^[ 0-9]+$",
                :size => "10", :value => "", :type => "text"}
          .col-md-2
            =label_tag(:q, t('page.all.widht'))
            %p
              (400-1150 #{t('page.all.mm')})
            %p{:title => t('page.all.widht_title')}
              %input{:maxlength => "4", :name => "widthS", :pattern => "^[ 0-9]+$",
                :size => "10", :value => "", :type => "text"}
          .col-md-2
            =label_tag(:q, t('page.all.depth'))
            %p
              (250-800 #{t('page.all.mm')})
            %p{:title => t('page.all.depth_title')}
              %input{:maxlength => "4", :name => "depth", :pattern => "^[ 0-9]+$",
                :size => "10", :value => "", :type => "text"}
          .col-md-2
            =label_tag(:q, t('page.all.num_of_shelves'))
            %p
              (2-15 #{t('page.all.unit')})
            %p{:title => t('page.all.num_of_shelves_title')}
              %input{:maxlength => "2", :name => "num_of_shelves", :pattern => "^[ 0-9]+$",
                :size => "10", :value => "", :type => "text"}
          .col-md-3
            =label_tag(:q, t('page.all.shelf_load'))
            %p
              (20-100 #{t('page.all.kg')})
            %p{:title => t('page.stillage.index.shelf_load_title')}
              %input{:maxlength => "3", :name => "shelf_load", :pattern => "^[ 0-9]+$",
                :size => "10", :value => "", :type => "text"}
        .row
          .col-md-3
            %p

        .row
          .col-md-3
            .style_text_about_stillage_stillage_warehouse_stillage_pallet
              %input{:id => "radio1", :name => "group1" , :type => "radio", :value => "osinkovaniy", :checked => "checked"}
                =label_tag('radio1', t('page.all.osinkovaniy'), :class => 'radio_button_label')
              %p
                %input{:id => "radio2", :name => "group1" , :type => "radio", :value => "okrash"}
                  =label_tag('radio2', t('page.all.okrash'), :class => 'radio_button_label')
        .row
          .col-md-3
            %p

        .row
          .col-md-3
            %input{:name => "send", :type => "submit", :value => t('page.all.calculate_stillage'), :class => "btn btn-success"}

#actual_price
  .row
    .col-md-12

%p
#no_print
  .container-fluid
    .row
      .col-md-12.style_text_about_stillage_stillage_warehouse_stillage_pallet
        =raw t('page.stillage.index.about')
    .row
      .col-md-12.style_text_about_stillage_stillage_warehouse_stillage_pallet
        %table{:cellspacing => "5", :cellpadding => "5", :border => "1", :width => "100%"}
          %tr
            %th.header_table
              =t('page.all.table.header_photo')
            %th.header_table
              =t('page.all.table.header_name')
            %th.header_table
              =t('page.all.table.header_texn')
            %tr{:align => "center"}
              %td
                =image_tag("design/all_parts/stillage_arxiv/stillage_arhivniy_bitovoy_Paspor_stoyka.png", class: 'stillage_table_images_stoyka')
              %td
                =t('page.stillage.index.table.name_1')
              %td
                =raw t('page.stillage.index.table.texn_1')
            %tr{:align => "center"}
              %td
                =image_tag("design/all_parts/stillage_arxiv/stillage_arhivniy_bitovoy_polka.png", class: 'stillage_table_images_polka')
              %td
                =t('page.stillage.index.table.name_2')
              %td
                =raw t('page.stillage.index.table.texn_2')
            %tr{:align => "center"}
              %td
                =image_tag("design/all_parts/stillage_arxiv/stillage_arhivniy_bitovoy_usil.png", class: 'stillage_table_images_usilok')
              %td
                =t('page.stillage.index.table.name_3')
              %td
                =raw t('page.stillage.index.table.texn_3')
