%h1 New article
.col-md-12
  %p{:class => "#{flash[:class]}", :style => "#{flash[:style]}"}= flash[:message]
  = form_for @article, url: admin_articles_path, method: :post do |f|
    = render partial: 'new_edit', locals: {f: f}
    .col-md-12
      = submit_tag "Save", {:class =>"btn btn-success"}
    .col-md-12
      %hr