%h1 Стеллажи складские полочные сборно-разборные
%p
.container-fluid
  .row.style_p
    .col-md-10
      %p
        ="#{@hight_var}x#{@width_var}x#{@depth_var} #{@num_of_shelves_var} п."
      %p
        ="Максимальная нагрузка на уровень #{@shelf_load_var} кг."
      %p
        ="Вес основной секции: #{@wei_osn}"
      %p
        ="Вес приставной секции: #{@wei_pris}"
      %p
  .row
    .col-md-10.style_p
      %table{:cellspacing => "5", :cellpadding => "5", :border => "1", :width => "100%"}
        %tr
          %th.header_table
            Рама
            %p
              ="#{@hight_var}x#{@depth_var}"
          %th.header_table
            Уровень хранения
          %th.header_table
            Основная секция
            %p
              ="2 рамы, #{@num_of_shelves_var} уровней"
          %th.header_table
            Приставная секция
            %p
              ="1 рама, #{@num_of_shelves_var} уровней"
          %tr{:align => "center"}
            %td
              ="#{@price_ram}"
            %td
              ="#{@price_shelves}"
            %td
              ="#{@price_stillage_osn}"
            %td
              ="#{@price_stillage_prist}"
%p
  ="@width_polki #{@width_polki}"
%p
  ="@@price_stoyka #{@price_stoyka}"
%p
  ="@price_polki_bolsh #{@price_polki_bolsh}"
%p
  ="@price_polki #{@price_polki}"
%p
  ="@kol_polok #{@kol_polok}"
%p
  ="@price_traversa #{@price_traversa}"
%p
  ="@ukos_g #{@ukos_g}"
%p
  ="@ukos_b #{@ukos_b}"
%p
  ="@plosh_ram #{@plosh_ram}"
%p
  ="@plosh_polki #{@plosh_polki}"
%p
  ="@price_usil_styag #{@price_usil_styag}"
%p
  ="@price_usil_g #{@price_usil_g}"
%p
  ="@kol_usil_styag #{@kol_usil_styag}"
%p
  ="@kol_usil_g #{@kol_usil_g}"
%p
  ="@dlin_usil_styag #{@dlin_usil_styag}"
%p
  ="@dlin_usil_g #{@dlin_usil_g}"
%p
  ="#{}"
%p
  ="#{}"
%p
  ="#{}"
%p
  ="#{}"
