%h1 Стеллажи складские полочные сборно-разборные
%p
.container-fluid
  .row.style_p
    .col-md-10
      %p
        ="#{@hight_var}x#{@width_var}x#{@depth_var} #{@num_of_shelves_var} п."
      %p
        ="Максимальная нагрузка на уровень #{@shelf_load_var} кг."
      %p
        ="Вес основной секции: #{@wei_osn}"
      %p
        ="Вес приставной секции: #{@wei_pris}"
      %p
  .row
    .col-md-12.style_p
      %table{:cellspacing => "5", :cellpadding => "5", :border => "1", :width => "100%"}
        %tr
          %th.header_table
            Рама
            %p
              ="#{@hight_var}x#{@depth_var}"
          %th.header_table
            Уровень хранения
          %th.header_table
            Основная секция
            %p
              ="2 рамы, #{@num_of_shelves_var} уровней"
          %th.header_table
            Приставная секция
            %p
              ="1 рама, #{@num_of_shelves_var} уровней"
          %tr{:align => "center"}
            %td
              ="#{@price_ram}"
            %td
              ="#{@price_shelves}"
            %td
              ="#{@price_stillage_osn}"
            %td
              ="#{@price_stillage_prist}"
%h2{:align =>"center"}
  Основная секция
.dimensions_stillage_warehouse
  .indent_left_stilage_warehouse
  .dimension_image_stilage_warehouse
    .height_size_stilage_warehouse_primery
      ="#{@hight_var}"
    .widht_size_stilage_warehouse_primery
      ="#{@width_var}"
    .widht_section_size_stilage_warehouse_primery
      ="#{@width_var + 100}"
    .depth_size_stilage_warehouse_primery
      ="#{@depth_var}"
    =image_tag('design/all_parts/stillage_warehouse/Stilage_warehouse45_primary.gif', class: "dimaension_image_size_stilage_warehouse")
  .indent_right_stilage_warehouse
%div{:style => " width:100%; height:1px; clear:both;"}

%h2{:align =>"center"}
  Приставная секция
.dimensions_stillage_warehouse
  .indent_left_stilage_warehouse
  .dimension_image_stilage_warehouse
    .height_size_stilage_warehouse_addl
      ="#{@hight_var}"
    .widht_size_stilage_warehouse_addl
      ="#{@width_var}"
    .widht_section_size_stilage_warehouse_addl
      ="#{@width_var + 50}"
    .depth_size_stilage_warehouse_addl
      ="#{@depth_var}"
    =image_tag('design/all_parts/stillage_warehouse/Stilage_warehouse45_addl.gif', class: "dimaension_image_size_stilage_warehouse")
  .indent_right_stilage_warehouse
%div{:style => " width:100%; height:30px; clear:both;"}