%form{:action => "show", :method => "get"}
  %table{:border => "1", :cellpadding => "5", :cellspacing => "5", :width => "100%"}
    %tr.table_header_admin_panel
      %th №
      %th Логин
      %th e-mail
      %th Имя
      %th Админ
      %th{:title => "Назначение диллеров"} Диллер
      %th Удалить пользователя
      -n=0
      -@users.each do |i|
        -n+=1
        %tr.table_data_admin_panel
          %td= "#{n}"
          %td= i.login
          %td= i.email
          %td= i.name
          %td
            %select{:name => "adm"+"#{n}"}
              %option{:selected => "selected"}
                -case i.admin
                  -when true
                    Да
                  -when false
                    Нет
              %option Да
              %option Нет
          %td{:title => "Назначение диллеров"}
            %select{:name => "dil"+"#{n}"}
              %option{:selected => "selected"}
                -case i.diller
                  -when 1
                    Класс №1
                  -when 2
                    Класс №2
                  -when 3
                    Класс №3
                  -when 4
                    Розница
              %option= "Розница"
              %option= "Класс №1"
              %option= "Класс №2"
              %option= "Класс №3"
          %td
            =link_to "Удалить", admin_panel_path(i.id), method: :delete, data: {confirm: "Точно удалить?"}
  %p
  %input{:type => "submit", :value => "Редактировать"}