- if @admin_in
  - @visible_const = "display: block;"
- else
  - @visible_const = "display: none;"
  =image_tag("design/all_parts/localization/stillage_base_img_#{I18n.locale}.gif", class: "basis")

#block_id{:style => "#{@visible_const}"}
  =link_to image_tag("design/all_parts/localization/stillage_base_img_#{I18n.locale}.gif", class: "basis"), edit_constant_path(1)

#myScroll_product
%table{:cellspacing => "5", :cellpadding => "5", :width => "100%"}
  %tr.tb1_row1_welcome{:align => "center"}
    %td
  %tr.tb1_row2_welcome{:align => "center"}
    %td.tb1_col1_welcome

    %td.tb1_col2_welcome
      = link_to image_tag('design/all_parts/stillage_arxivniy_bitovoy.gif', class: "products_buttons_welcome"), stillage_index_path
      .welcome_img_text
        =link_to t('page.welcome.stillage'), stillage_index_path
    %td.tb1_col3_welcome

    %td.tb1_col2_welcome
      = link_to image_tag('design/all_parts/stillage_warehouse.gif', class: "products_buttons_welcome"), stillage_warehouse_index_path
      .welcome_img_text
        =link_to t('page.welcome.stillage_warehouse'), stillage_warehouse_index_path
    %td.tb1_col1_welcome

  %tr.tb1_row3_welcome{:align => "center"}

  %tr.tb1_row4_welcome{:align => "center"}
    %td.tb1_col1_welcome

    %td.tb1_col2_welcome
      =link_to image_tag('design/all_parts/stillage_pallet.gif', class: "products_buttons_welcome"), stillage_pallet_index_path
      .welcome_img_text
        =link_to t('page.welcome.stillage_pallet'), stillage_pallet_index_path
    %td.tb1_col3_welcome

    %td.tb1_col2_welcome
      =link_to image_tag('design/all_parts/troleys.gif', class: "products_buttons_welcome"), trolley_index_path
      .welcome_img_text
        =link_to t('page.welcome.troles'), trolley_index_path
    %td.tb1_col1_welcome

  %tr.tb1_row3_welcome{:align => "center"}

  %tr.tb1_row4_welcome{:align => "center"}
    %td.tb1_col1_welcome

    %td.tb1_col2_welcome
      =link_to image_tag('design/all_parts/stillage_mezonin.gif', class: "products_buttons_welcome"), mezzanine_index_path
      .welcome_img_text
        =link_to t('page.welcome.stillage_mezonin'), mezzanine_index_path
    %td.tb1_col3_welcome

    %td.tb1_col2_welcome
      =link_to image_tag('design/all_parts/gallery.gif', class: "products_buttons_welcome"), gallery_index_path
      .welcome_img_text
        =link_to t('page.welcome.gallery'), gallery_index_path
    %td.tb1_col1_welcome

