%h1
  Карта сайту
%p
  = link_to sitemap_path, sitemap_path
%p
  = link_to stillage_pallet_index_path, stillage_pallet_index_path
%p
  = link_to stillage_warehouse_index_path, stillage_warehouse_index_path
%p
  = link_to stillage_index_path, stillage_index_path
%p
  = link_to trolley_index_path, trolley_index_path
%p
  = link_to mezzanine_index_path, mezzanine_index_path
%p
  = link_to platform_index_path, platform_index_path
%p
  = link_to about_us_path,about_us_path
%p
  = link_to news_index_path,news_index_path
%p
  = link_to galleries_path,galleries_path
%p
  = link_to article_index_path,article_index_path
%p
  = link_to lofts_path,lofts_path
