%h1
  Карта сайту
%h2
  RUS
%p
  = link_to t('page.welcome.stillage'), '/ru/stillage'
%p
  = link_to t('page.welcome.stillage_warehouse'), '/ru/stillage_warehouse'
%p
  = link_to t('page.welcome.stillage_pallet'), '/ru/stillage_pallet'
%p
  = link_to t('page.welcome.troles'), '/ru/trolley'
%p
  = link_to t('page.welcome.stillage_mezonin'), '/ru/mezzanine'
%p
  = link_to t('page.welcome.platform'), '/ru/platform'
%p
  = link_to t('page.welcome.loft'), '/ru/lofts'
%p
  = link_to t('page.welcome.gallery'),'/ru/galleries'
%p
  = link_to t('page.layout.contact'),'/ru/contact'
%p
  = link_to t('page.welcome.about_as'),'/ru/about_us'
%p
  = link_to t('page.layout.drop_menu.news'),'/ru/news'
%p
  = link_to t('page.layout.drop_menu.article'),'/ru/article'
%p
  = link_to t('page.layout.sign_in'),'/ru/users/sign_in'
%p
  = link_to 'welcome','/ru/welcome'
%p
  = link_to 'Osnovnie_ponyatiya_stellagi','/ru/article/1-Osnovnie_ponyatiya_stellagi.html'
%p
  = link_to 'mezonini_platformi','/ru/article/2-mezonini_platformi.html'
%p
  = link_to 'rack_placement','/ru/article/3_rack_placement.html'
%p
  = link_to 'Начало деятельности нашей фирмы','/ru/news/1'
%p
  = link_to 'Разработка первых чертежей на собственные Кстеллажи','/ru/news/2'
%h2
  UKR
%p
  = link_to t('page.welcome.stillage'), '/uk/stillage'
%p
  = link_to t('page.welcome.stillage_warehouse'), '/uk/stillage_warehouse'
%p
  = link_to t('page.welcome.stillage_pallet'), '/uk/stillage_pallet'
%p
  = link_to t('page.welcome.troles'), '/uk/trolley'
%p
  = link_to t('page.welcome.stillage_mezonin'), '/uk/mezzanine'
%p
  = link_to t('page.welcome.platform'), '/uk/platform'
%p
  = link_to t('page.welcome.loft'), '/uk/lofts'
%p
  = link_to t('page.welcome.gallery'),'/uk/galleries'
%p
  = link_to t('page.layout.contact'),'/uk/contact'
%p
  = link_to t('page.welcome.about_as'),'/uk/about_us'
%p
  = link_to t('page.layout.drop_menu.news'),'/uk/news'
%p
  = link_to t('page.layout.drop_menu.article'),'/uk/article'
%p
  = link_to t('page.layout.sign_in'),'/uk/users/sign_in'
%p
  = link_to 'welcome','/uk/welcome'
%p
  = link_to 'Osnovnie_ponyatiya_stellagi','/uk/article/1-Osnovnie_ponyatiya_stellagi.html'
%p
  = link_to 'mezonini_platformi','/uk/article/2-mezonini_platformi.html'
%p
  = link_to 'rack_placement','/uk/article/3_rack_placement.html'
%p
  = link_to 'Початок діяльності нашої фірми','/uk/news/1'
%p
  = link_to 'Розробка перших креслень на власні стелажі','/uk/news/2'
