%h1.header_stillage_stillage_warehouse_stillage_pallet_trolleys
  =t('page.news.header')

- @news.each do |news|
  .col-md-12
    %hr
    .col-md-12
      .col-md-10
        %h2.news_header
          = link_to news.title[locale.to_s], news_path(news.id)
      .col-md-2
        = news.news_date.strftime('%d.%m.%Y')
    .col-md-12
      .col-md-2
        = link_to news_path(news.id) do
          = image_tag news.photo, style: 'width: 160px;'
      .col-md-10.news_short_text
        = news.short_text[locale.to_s]



