%h1 Добавление и удаление новостей
= render partial: 'new_edit_form'
.col-md-12
  - @news.each do |news|
    = form_tag news_path(news.id), method: :put, multipart: true do
      .col-md-12
        = date_field_tag :news_date, news.news_date, class: 'news_data_field_class', disabled: true
      .col-md-2
        = image_tag news.photo, style: 'width: 160px;'
      .col-md-8
        = label_tag :title, news.title, style: 'width: 100%;'
      .col-md-12
        = label_tag :short_text, news.short_text, style: 'width: 100%;'
      .col-md-12
        = label_tag :text, news.text, style: 'width: 100%;'
      .col-md-12
        = link_to 'Удалить', news_path(id: news.id), class: 'btn btn-danger', method: :delete
      .col-md-12
        %hr
