%h1 Тележка
%p
.container-fluid
  .row
    .col-md-10
      %p.style_p
        ="Максимальная нагрузка на уровень #{@shelf_load_var} кг."
      %p.style_p
        ="Вес тележки без колес: #{@wei_trol} кг."
      %p
  .row
    .col-md-10.style_p
      %table{:cellspacing => "5", :cellpadding => "5", :border => "1", :width => "100%"}
        %tr
          %th.header_table
            Тип
          %th.header_table
            Параметры
          %th.header_table
            Цена
            %tr
              %td
                ="#{@vid}"
              %td
                ="#{@lengthT_var}x#{@width_var}" +" ручка " + "#{@hight_ruch}"
              %td
                ="#{@price_trol}"







