%h1 Добавление и удаление статей
.col-md-12
  = form_tag article_new_path, method: :post, multipart: true do
    .col-md-12
      .col-md-12
        Файл статьи
      .col-md-12
        = file_field_tag :article, accept: 'text/*'
      .col-md-12
        = submit_tag "Добавить", {:class =>"btn btn-success"}
      .col-md-12
        %hr

.col-md-12
  = form_tag image_to_article_path, method: :post, multipart: true do
    .col-md-12
      .col-md-12
        Файл картинки
      .col-md-12
        = file_field_tag :image, accept: 'image/*'
      .col-md-12
        = submit_tag "Добавить", {:class =>"btn btn-success"}
      .col-md-12
        %hr
.col-md-12
  .col-md-6
    -if @articles.present?
      - @articles.each do |article|
        = form_tag article_delete_path, method: :delete do
          .col-md-8
            = link_to article[0], article_admin_show_path(article[0])
            = text_field_tag :article_name, article[0], style: 'width: 100%;'
          .col-md-4
            = submit_tag "Удалить", {:class =>"btn btn-danger"}
          .col-md-12

  .col-md-6
    -if @images.present?
      - @images.each do |image|
        = form_tag image_delete_path, method: :delete do
          .col-md-12
            = image_tag "/assets/articles/#{image}", style: 'width: 250px'
          .col-md-8
            = text_field_tag :image_name, image, style: 'width: 100%;'
          .col-md-4
            = submit_tag "Удалить", {:class =>"btn btn-danger"}



