= form_tag article_admin_edit_path, method: :put do
  .col-md-12
    = text_field_tag :article_name, @article[0], style: 'width: 100%'
    = text_area_tag :article_text, @article[1], style: 'width: 100%; height: 815px'
    = submit_tag "Редактировать", {:class =>"btn btn-success"}
    %p

-if @images.present?
  - @images.each do |image|
    = form_tag image_delete_path, method: :delete do
      .col-md-3
        = image_tag "/assets/articles/#{image}", style: 'width: 250px'
      .col-md-9
        = text_area_tag :full_path, File.join("#{request.protocol}#{request.host}", "/assets/articles/#{image}"), style: 'width: 100%'

