.stillage-warehouse
  .col-xs-12.print-button-section
    = button_to '', class: 'btn btn-default print-button', method: :get, remote: true, onclick: ' window.print(); return false;' do
      %i.fa.fa-print
  .row
    .col-md-10
      %p.style_p
        ="#{t('page.stillage_pallet.show.max_load_ur')}: #{@shelf_load_var} #{t('page.all.kg')}"
      %p.style_p
        ="#{t('page.stillage_pallet.show.weight_ram')}: #{@wei_ram} #{t('page.all.kg')}"
      %p.style_p
        ="#{t('page.stillage_pallet.show.weaight_trav')}: #{@wei_traversi} #{t('page.all.kg')}"
      %p
  .row
    .col-md-12.style_p
      %table{:cellspacing => "5", :cellpadding => "5", :border => "1", :width => "100%"}
        %tr
          %th.header_table
            =t('page.all.rama')
            %p
              ="#{@hight_var}x1100"
          %th.header_table
            =t('page.all.traversa')
            %p
              ="#{@width_var}x#{@hight_traversi}x#{@depth_traversi}x1.5"
          %th.header_table
            =t('page.all.osn_sec')
            %p
              ="#{t('page.all.2_ram')}, #{@num_of_shelves_var} #{@text_var}"
          %th.header_table
            =t('page.all.pris_sec')
            %p
              ="#{t('page.all.1_ram')}, #{@num_of_shelves_var} #{@text_var}"
          %tr{:align => "center"}
            %td
              ="#{@price_ram}"
            %td
              ="#{@price_traversa}"
            %td
              ="#{@price_stillage_osn}"
            %td
              ="#{@price_stillage_prist}"

