%h1.header_stillage_stillage_warehouse_stillage_pallet_trolleys
  =t('page.stillage_pallet.index.header')
.container-fluid
  .row
    .col-md-6
      %p
  .row
    .col-md-12.all_tytle_page_img_stillage_stillage_warehouse_stillage_pallet
      =image_tag("design/all_parts/stillage_pallet/stillage_pallet_Pasport.png", :class => "tytle_page_img_stillage_stillage_warehouse_stillage_pallet")

%p
-if !@constant.on_off_calc_stillage_pallet
  = form_tag(calculate_actual_price_stillage_pallet_path, method: :get, id: 'contact_form', name: 'contact_form', remote: true, onsubmit: "return validate_form_stilage_pallet ( );") do
    .container-fluid
      .text_size{:onclick => "showHide('hiden_element_1','chg_img_1')" }
        =image_tag("plus.png", :id => "chg_img_1", :alt => "mater", :name => "img_1", :width => "30", :height => "30")
        =t('page.all.on_line')
      .hiden_element_1
        .row
          .col-md-3
            =label_tag(:q, t('page.all.height'))
            %p
              (2000-6000 #{t('page.all.mm')})
            %p{:title => t('page.all.height_title')}
              %input{:maxlength => "4", :name => "hight", :pattern => "^[ 0-9]+$",
                  :size => "10", :value => "", :type => "text"}
          .col-md-3
            =label_tag(:q, t('page.stillage_pallet.index.width'))
            %p
              (1200-3500 #{t('page.all.mm')})
            %p{:title => t('page.stillage_pallet.index.width_title')}
              %input{:maxlength => "4", :name => "widthS", :pattern => "^[ 0-9]+$",
                  :size => "10", :value => "", :type => "text"}
          .col-md-3
            =label_tag(:q, t('page.all.num_of_ur'))
            %p
              (2-10 #{t('page.all.unit')})
            %p{:title => t('page.all.num_of_ur_title')}
              %input{:maxlength => "2", :name => "num_of_shelves", :pattern => "^[ 0-9]+$",
                  :size => "10", :value => "", :type => "text"}
          .col-md-3
            =label_tag(:q, t('page.all.ur_load'))
            %p
              (500-3000 #{t('page.all.kg')})
            %p{:title => t('page.stillage_pallet.index.shelf_load_title')}
              %input{:maxlength => "4", :name => "shelf_load", :pattern => "^[ 0-9]+$",
                  :size => "10", :value => "", :type => "text"}
        .row
          .col-md-3
            %p
            %input{:name => "send", :type => "submit", :value => t('page.all.calculate_stillage'), :class => "btn btn-success"}
#actual_price
  .row
    .col-md-12
      -#-else
      -#  .on_line_calculation_off
      -#    =t('page.all.on_line_off')

%p
.container-fluid
  .row
    .col-md-12.style_text_about_stillage_stillage_warehouse_stillage_pallet
      =raw t('page.stillage_pallet.index.abbout')
  .row
    .col-md-12.style_p
      %table{:cellspacing => "5", :cellpadding => "5", :border => "1", :width => "100%"}
        %tr
          %th.header_table
            =t('page.all.table.header_photo')
          %th.header_table
            =t('page.all.table.header_name')
          %th.header_table
            =t('page.all.table.header_texn')
          %tr{:align => "center"}
            %td
              =image_tag("design/all_parts/stillage_pallet/stillage_pallet_Pasport_table_rama.png", :width => "200", :height => "200")
            %td
              =t('page.stillage_pallet.index.table.name_1')
            %td
              =raw t('page.stillage_pallet.index.table.texn_1')
          %tr{:align => "center"}
            %td
              =image_tag("design/all_parts/stillage_pallet/stillage_pallet_Pasport_table_traversa.png", :width => "200", :height => "200")
            %td
              =t('page.stillage_pallet.index.table.name_2')
            %td
              =raw t('page.stillage_pallet.index.table.texn_2')

