%h1 Стеллажи паллетные сборно-разборные
%p
.container-fluid
  .row
    .col-md-10
      %p.style_p
        ="Максимальная нагрузка на уровень #{@shelf_load_var} кг."
      %p.style_p
        ="Вес рамы: #{@wei_ram}"
      %p.style_p
        ="Вес траверсы: #{@wei_traversi}"
      %p
  .row
    .col-md-12.style_p
      %table{:cellspacing => "5", :cellpadding => "5", :border => "1", :width => "100%"}
        %tr
          %th.header_table
            Рама
            %p
              ="#{@hight_var}x1100"
          %th.header_table
            Траверса
            %p
              ="#{@width_var}x#{@hight_traversi}x#{@depth_traversi}x1.5"
          %th.header_table
            Основная секция
            %p
              ="2 рамы, #{@num_of_shelves_var} #{@text_var}"
          %th.header_table
            Приставная секция
            %p
              ="1 рама, #{@num_of_shelves_var} #{@text_var}"
          %tr{:align => "center"}
            %td
              ="#{@price_ram}"
            %td
              ="#{@price_traversa}"
            %td
              ="#{@price_stillage_osn}"
            %td
              ="#{@price_stillage_prist}"

