%h1.header_stillage_stillage_warehouse_stillage_pallet_trolleys
  = t('page.gallery.header')

%hr

%h2{:align => "center"}
  = t('page.gallery.arxiv')

= render partial: 'photo_cycle', locals: {stillage_type: @stillages}

%hr

%h2{:align => "center"}
  = t('page.gallery.warehouse')

= render partial: 'photo_cycle', locals: {stillage_type: @warehouses}

%hr

%h2{:align => "center"}
  = t('page.gallery.pallet')

= render partial: 'photo_cycle', locals: {stillage_type: @pallets}

%hr

%h2{:align => "center"}
  = t('page.gallery.trolley')

= render partial: 'photo_cycle', locals: {stillage_type: @trolleys}

%hr

%h2{:align => "center"}
  = t('page.gallery.mezzanine')

= render partial: 'photo_cycle', locals: {stillage_type: @mezanines}
