%h1 Добавление и удаление фотографий в галерею
.col-md-12
  = form_tag photo_browser_new_path, method: :post, multipart: true do
    .col-md-12
      .col-md-3
        Тип картинки
    .col-md-12
      .col-md-3
        %select{:name => 'image_type'}
          %option
            = 'mezzanine'
          %option
            = 'pallet'
          %option
            = 'stillage'
          %option
            = 'trolleys'
          %option
            = 'werehouse'
          %option
            = 'platforms'
          %option
            = 'lofts'
        %p
    .col-md-12
      .col-md-3
        Картинка
      .col-md-4
        Описание
      .col-md-2

    .col-md-12
      .col-md-3
        = file_field_tag :image
      .col-md-4
        = text_area_tag :alt_image, '', style: 'width: 100%'
      .col-md-2
        = submit_tag "Добавить", {:class =>"btn btn-success"}


%table{:cellspacing => "5", :cellpadding => "5", :border => "1", :width => "100%"}
  %tr
    %th
      Мини изображение
    %th
      Текст
    %th
      Тип
    %th{style: 'width: 15%'}

  -@galleries.each do |gallery|
    %tr
      %td
        = image_tag gallery.image.thumb.url
      %td
        = text_area_tag 'alt', gallery.alt_to_image, style: 'width: 100%'
      %td
        = label_tag 'image_folder', gallery.image_folder, style: 'width: 100%'
      %td
        = button_to 'Удалить', photo_browser_destroy_path(id: gallery.id), class: 'btn btn-danger', method: :delete

