%h1.header_stillage_stillage_warehouse_stillage_pallet_trolleys
  =t('page.contacts.index.header')
.container-fluid
  .row
    .col-md-12.style_text_about_stillage_stillage_warehouse_stillage_pallet
      %li
        = "#{t('page.contacts.index.address_title')}: #{t('page.contacts.index.address')}"
      %li
        = "#{t('page.contacts.index.tel')}: (057) 757-37-22"
      %li
        = "#{t('page.contacts.index.tel')}: 067-101-14-16"
      %li E-mail: k_sklad@ukr.net
%p.style_text_about_stillage_stillage_warehouse_stillage_pallet{:align => "center"}
  =t('page.contacts.index.map')
%p{:align => "center"}
  %iframe{:class => "google_map", :allowfullscreen => "", :frameborder => "20", :src => "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1283.315458535974!2d36.28537957267907!3d49.96202563497522!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x41270a8a73d87721%3A0x228791fa4963781c!2z0LLRg9C7LiDQnNC-0YDQvtC30L7QstCwLCA3LCDQpdCw0YDQutGW0LIsINCl0LDRgNC60ZbQstGB0YzQutCwINC-0LHQu9Cw0YHRgtGMLCDQo9C60YDQsNC40L3QsA!5e0!3m2!1sru!2sru!4v1453205690016", :style => "border:0"}