%h1 Константы
.col-md-12
  %p{:class => "#{flash[:class]}", :style => "#{flash[:style]}"}= flash[:message]
  = form_tag({:action => :load_constant}, :multipart => true) do
    = label_tag 'constant_file', "Файл констант:"
    = file_field_tag 'constant_file'
    %p
      %br
      = submit_tag "Забрать значения констант из файла", {:class =>"btn btn-success"}
      %p
    %hr
.container-fluid
  .col-md-12
    .col-md-12
      .col-md-6
        = link_to 'Панель администратора', admin_panel_path, class: 'btn btn-success', style: 'width: 100%'
    .col-md-12
      %hr
    .col-md-12
      .col-md-6
        = link_to 'Список информации на странице Контактов', contacts_index_path, class: 'btn btn-success', style: 'width: 100%'
    .col-md-12
      %hr
    .col-md-12
      .col-md-6
        = link_to 'Работа с фото Галереи', photo_browser_index_path, class: 'btn btn-success', style: 'width: 100%'
    .col-md-12
      %hr
    .col-md-12
      .col-md-6
        = link_to 'Работа с новостями', news_admin_index_path, class: 'btn btn-success', style: 'width: 100%'
      .col-md-12
        %hr

    = simple_form_for @constant do |f|
      .col-md-12
        E-mail для отправки файла расчетов по сайту
      .input_email_to_send
        =f.input :email_to_send, label: false
      .row
        .col-md-12
          .text_size{:onclick => "showHide('hiden_element_1','chg_img_1')" }
            %img{:id => "chg_img_1", :alt => "mater", :src => "/assets/plus.png", :name => "img_1", :width => "30", :height => "30"}
              Материалы
      = render partial: 'material', locals: {f: f}


      .row
        .col-md-12
          .text_size{:onclick => "showHide('hiden_element_2','chg_img_2')" }
            %img{:id => "chg_img_2",:alt => "mater", :src => "/assets/plus.png", :name => "chg_img_2", :width => "30", :height => "30"}
              Работы
      = render partial: 'job', locals: {f: f}

      .col-md-12.alert_in_site
        Поставленная "галочка" означает ВЫКЛЮЧЕНИЕ on-line расчета
      .col-md-6
        =f.input :on_off_calc_stillage, label: 'Вкл/выкл on-line расчета архивных стеллажей', as: :boolean
      .col-md-6
        =f.input :on_off_calc_stillage_warehouse, label: 'Вкл/выкл on-line расчета складских стеллажей', as: :boolean
      .col-md-6
        =f.input :on_off_calc_stillage_pallet, label: 'Вкл/выкл on-line расчета паллетных стеллажей', as: :boolean
      .col-md-6
        =f.input :on_off_calc_TP01, label: 'Вкл/выкл on-line расчета тележки TP-01', as: :boolean
      .col-md-6
        =f.input :on_off_calc_TP02, label: 'Вкл/выкл on-line расчета тележки TP-02', as: :boolean
      .col-md-6
        =f.input :on_off_calc_TP03, label: 'Вкл/выкл on-line расчета тележки TP-03', as: :boolean
      .col-md-6
        =f.input :on_off_calc_TP04, label: 'Вкл/выкл on-line расчета тележки TP-04', as: :boolean
      .col-md-6
        =f.input :on_off_calc_TP05, label: 'Вкл/выкл on-line расчета тележки TP-05', as: :boolean
      .col-md-6
        =f.input :on_off_calc_TP06, label: 'Вкл/выкл on-line расчета тележки TP-06', as: :boolean
      .col-md-6
        =f.input :on_off_calc_TP07, label: 'Вкл/выкл on-line расчета тележки TP-07', as: :boolean
      .col-md-6
        =f.input :on_off_calc_KS01, label: 'Вкл/выкл on-line расчета тележки KS-01', as: :boolean
      .col-md-6
        =f.input :on_off_calc_KS02, label: 'Вкл/выкл on-line расчета тележки KS-02', as: :boolean
      .col-md-6
        =f.input :on_off_calc_KS03, label: 'Вкл/выкл on-line расчета тележки KS-03', as: :boolean
      .col-md-6
        =f.input :on_off_calc_KS04, label: 'Вкл/выкл on-line расчета тележки KS-04', as: :boolean
      .col-md-6
        =f.input :on_off_calc_PT01, label: 'Вкл/выкл on-line расчета тележки PT-01', as: :boolean
      .col-md-6
        =f.input :on_off_calc_PT02, label: 'Вкл/выкл on-line расчета тележки PT-02', as: :boolean
      .col-md-6
        =f.input :on_off_calc_PT03, label: 'Вкл/выкл on-line расчета тележки PT-03', as: :boolean
      .col-md-6
        =f.input :on_off_calc_PT04, label: 'Вкл/выкл on-line расчета тележки PT-04', as: :boolean

      .col-md-12
        %p
          = f.submit "Редактировать константы", class: "btn btn-success"
    %div{:style => " width:100%; height:1px; clear:both;"}


