!!!
%html
  %head
    %meta{:content => "3ZGMYXXCBZBQNEZbdqB9TBw7nJ7IG609UeI7l3BJUXM", :name => "google-site-verification"}
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
    %title
      =t('page.layout.title')
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .main
      .wrap1
        .span_header
          .left1
        .fix
          %table.layout_table
            %tr{:align => "center"}
              %td.col1
                =link_to image_tag("design/all_parts/Header/Logo.gif", class: "logo", :title => t('to_root')), root_path
                %a{:href => root_path}
                  .text_pp
                    %span.colortext1
                      =t('page.layout.pp')
                    %span.colortext2
                      =t('page.layout.kremenchuk')
              %td.col2
                - if current_user
                  = current_user.email
                  %p
                    =link_to t('page.layout.sign_out'), destroy_user_session_path
                - else
                  .about_href
                    = link_to t('page.layout.sign_in'), new_user_session_path
                    %p
                      = link_to t('page.layout.registration'), new_user_registration_path
              %td.col3
                %ul.dropdown
                  =t('page.layout.production')
                  %li.dropdown-top
                    %ul.dropdown-inside
                      %li
                        =link_to t('page.layout.drop_menu.stillage'), stillage_index_path
                      %li
                        =link_to t('page.layout.drop_menu.warehouse'), stillage_warehouse_index_path
                      %li
                        =link_to t('page.layout.drop_menu.pallet'), stillage_pallet_index_path
                      %li
                        =link_to t('page.layout.drop_menu.trolleys'), trolleys_index_path
                      %li
                        =link_to t('page.layout.drop_menu.mezzanine'), mezzanine_index_path
                      %li
                        =link_to t('page.layout.drop_menu.gallery'), gallery_index_path

              %td.col5{:onClick => "document.location='#{contact_index_path}'"}
                = t('page.layout.contact')
              %td.col3
                .locale_view
                  %ul.dropdown
                    = t("languages.#{I18n.locale}").mb_chars.upcase.to_s
                    %li.dropdown-top
                      %ul.dropdown-inside
                        -I18n.available_locales.each do |locale|
                          -unless locale == :en
                            %li
                              = link_to t(locale), locale_path(:new_locale => locale), :method => :put
                              /- link_to t(locale), change_locale_path(locale: locale)
        .span_header
          .right1
      .wrapper
        .sessionInfo
        =yield
        .boofer
    .footer
      %table{:cellspacing => "5", :cellpadding => "5", :width => "100%"}
        %tr
          %td.footer_style{:align => "right"}
            =t('page.layout.site')
        %tr
          %td.footer_style{:align => "right"}
            =t('page.layout.design')


