!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %title Стеллажи от производителя (online расчет)
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .sessionInfo
      - if current_user
        = current_user.email
        | #{link_to "Выход", destroy_user_session_path}
      - else
        = link_to "Войти", new_user_session_path
        | #{link_to "Регистрация", new_user_registration_path}
      - if @admin_in
        - @visible_const = "display: block;"
      - else
        - @visible_const = "display: none;"
      .row
        .col-xs-3
          #block_id{:style => "#{@visible_const}"}
            %input{:onclick => "location.href='/constants/index'", :type => "button", :value => "Константы", :name => "button_const3"}
      .row
        .col-xs-3
          %input{:onclick => "location.href='/'", :type => "button", :value => "На главную", :name => "button_glav"}
    %p{:style => "color: green"}
      = flash[:success]
    %p{:style => "color: red"}= flash[:error]
    = yield
